<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 mt-5 text-center">
            <img class="my-5 img-fluid d-block mx-auto" src="assets/images/success.png" alt="Order Success" width="200" height="200" />
            <span style="font-family: 'Times New Roman', Times, serif;">Order ID: {{orderId}}</span>
            <h2 style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">Your Order has been placed successfully.</h2>

            <a href="/" style="font-family: 'Times New Roman', Times, serif;">Go to Home</a>
        </div>

    </div>
</div>