
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="login.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">Sign up</label>
					<input type="text" name="txt" placeholder="Enter User name" [(ngModel)]="signupObj.username" style="font-family: 'Times New Roman', Times, serif;" >
					<input type="email" name="email" placeholder="Enter Email"  [(ngModel)]="signupObj.email" style="font-family: 'Times New Roman', Times, serif;">
          
					<input type="password" name="pswd" placeholder="Enter Password"  [(ngModel)]="signupObj.password" style="font-family: 'Times New Roman', Times, serif;">
					<button (click)="onSignUp()" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">Sign up</button>
                    
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true" style="font-weight: bold;font-family: 'Times New Roman', Times, serif;">Login</label>
					<input type="email" name="username" placeholder="Enter UserName" [(ngModel)]="loginObj.username">
					<input type="password" name="password" placeholder="Enter Password"  [(ngModel)]="loginObj.password">
					<button (click)="onLogin()" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">Login</button>
				</form>
			</div>
	</div>
</body>
</html>